/* .body {
  background-color: white;
} */

.checkout {
  /* width: 50%; */
  margin: 50px;
  background-color: white;
  border-radius: 8px;
  padding: 30px 30px 0 30px;
}

.checkout-title {
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 30px;
  text-align: start;
}

.checkout-header {
  font-size: large;
  color: #d87d4a;
  text-transform: uppercase;
  width: 100%;
  /* padding-bottom: 20px; */
}

/* .checkout-billing {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  /* width: ; */
/* }  */

/* .checkout-label {
  font-weight: bold;
  /* padding-right: 2rem; */
/* width: 40%; */
/* padding-bottom: 10px; */
/* } */

/* .checkout-input {
  border: 0.5px solid #d3d3d3;
  width: 13rem;
  height: 40px;
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.checkout-label2 {
  font-weight: bold;
  width: 100%; */
/* padding-bottom: 10px; */
/* }

.checkout-shipping {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}

.shipping-label2 {
  font-weight: bold;
  width: 100%;
  padding-right: 50rem; */
/* padding-bottom: 10px; */
/* } */

/* .shipping-input {
  border: 0.5px solid #d3d3d3;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
} */

/* .checkout-payment {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px; */
/* }  */

.radio {
  display: flex;
  /* align-items: flex-end; */
  border: 0.5px solid #d3d3d3;
  width: 20px;
  height: 40px;
  border-radius: 6px;
  margin-left: 10px;
  accent-color: #d87d4a;
}

/* .radio:checked {
  color: #d87d4a;
} */

.payment-label {
  font-weight: bold;
  /* padding-right: 20rem; */
}

.radio-border {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  border: 0.5px solid #d3d3d3;
  width: 17rem;
  height: 50px;
  border-radius: 6px;
  margin: 10px 20px 10px 0;
}

.radio-border:checked {
  border: 0.5px solid #d87d4a;
  /* accent-color: #d87d4a; */
}

.e-money {
  display: flex;
  flex-direction: column;
}

.cart-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 40px 0;
}

.cart-section h3 {
  margin: 0;
  margin-bottom: -10px;
  grid-column: 1 / -1;
  color: #d87d4a;
  font-size: 1rem;
}

.input-group {
  display: grid;
  gap: 10px;
}

.input-label {
  font-size: 0.75rem;
  font-weight: 600;
}

.input-label-r {
  padding: 12px 0 0 10px;
  font-weight: bold;
  font-size: small;
}

.input-field {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.cols-2 {
  grid-column: 2 / -2;
}

@media (max-width: 500px) {
  .cart-section {
    grid-template-columns: 1fr;
  }
}
