/* * {
  background-color: #d3d3d3;
} */

.checkout-body {
  background-color: #d3d3d3;
}

.checkout-page {
  display: flex;
  background-color: #d3d3d3;
  /* flex-direction: column; */
}

.checkout-columns {
  display: flex;
  flex-direction: column-reverse;
  column-count: 2;
}

.checkout-page-summary {
  /* column-rule: 4px double #ff00ff; */
}
