.closer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 1px;
}

.closer-img {
  border-radius: 8px;
  width: 80%;
  margin: 40px 0 20px 0;
}
.closer-header {
  font-size: xx-large;
  width: 75%;
}

.closer-header > span {
  color: #d87d4a;
}

.closer-body {
  width: 90%;
  padding-bottom: 40px;
  color: gray;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .closer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .closer-img {
    width: 75%;
  }
}
