.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  letter-spacing: 1px;
}

.featured-1 {
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  background-color: orange;
  padding: 20px;
  width: 75%;
}

.featured-header-1 {
  /* justify-content: center; */
  color: white;
  font: bold;
  font-size: xx-large;
}
.featured-body {
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  color: white;
  width: 75%;
  align-items: center;
}

.featured-btn {
  color: white;
  background-color: black;
  padding: 10px 20px 10px 20px;
  border: none;
}

.featured-1-img {
  width: 50%;
  height: 50%;
}

.featured-2 {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url("../images/home/mobile/image-speaker-zx7.jpg");
  background-size: cover;
  color: black;
  border-radius: 8px;
  margin-top: 20px;
  width: 75%;
  height: 250px;
}

.featured-2-btn {
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
}

.featured-3 {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  color: black;
  border-radius: 8px;
  margin-top: 20px;
  width: 75%;
}

.featured-3-img {
  width: 100%;
  border-radius: 8px;
}

.featured-4 {
  align-items: center;
  text-align: center;
  background-color: lightgray;
  color: black;
  border-radius: 8px;
  margin-top: 20px;
  width: 75%;
}

.featured-4-btn {
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
}
