.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  letter-spacing: 1px;
  width: 100%;
}

.featured-1 {
  display: flex;
  flex-direction: column;
  background-image: url("../images/home/desktop/pattern-circles.svg");
  background-size: 110%;
  background-position: top -125px right -40px;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #d87d4a;
  height: 40rem;
  width: 82%;
}

.featured-1-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.featured-header-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font: bold;
  font-size: xx-large;
  width: 10rem;
  /* margin: 0; */
  /* margin-left: 45px; */
}

.featured-header {
  padding-bottom: 20px;
}
.featured-body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px 0px 30px 0px;
  width: 25rem;
  line-height: 25px;
  margin: 0;
}

.featured-btn {
  color: white;
  background-color: black;
  padding: 10px 20px 10px 20px;
  border: none;
  text-decoration: none;

  /* margin-bottom: 40px; */
}

.featured-btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.featured1-imgContainer {
  display: flex;
  align-items: center;
  height: 40%;
}

.featured-1-img {
  /* width: 50%; */
  display: flex;
  /* align-self: center; */
  justify-content: center;
  /* margin-top: 40px; */
  align-items: baseline;
  height: 80%;
  /* margin: 20px 0 20px 0; */
}

.featured-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;

  background-color: #d3d3d3;
  background-image: url("../images/home/mobile/image-speaker-zx7.jpg");
  background-size: cover;
  /* background-position: bottom -50px; */
  color: black;
  border-radius: 8px;
  margin-top: 20px;
  width: 78%;
  height: 250px;
  font-size: x-large;
  padding-left: 20px;
}

.featured-2-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid black;
  padding: 12px 25px 12px 25px;
  margin-bottom: 20px;
}

.featured2-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.featured2-img {
  height: 250px;
  width: 45%;
}

.featured-3-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97%;
  margin-bottom: 20px;
}

.featured-3 {
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: lightgray; */
  color: black;
  border-radius: 8px;
  margin-top: 20px;
  width: 83%;
}

.featured-3-img {
  width: 100%;
  border-radius: 8px;
}

.featured-4 {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  flex-direction: column;
  background-color: #ebe9e9;
  color: black;
  border-radius: 8px;
  margin-top: 20px;
  width: 80%;
  height: 20rem;
  padding: 20px 0 20px 0;
  font-size: xx-large;
  padding-left: 20px;
}

.featured-4-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebe9e9;
  color: black;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .featured-1 {
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 60rem;
    text-align: center;
  }

  .featured-header-1 {
    text-align: center;
    margin: auto;
  }
  .featured-body {
    text-align: center;
  }

  .featured-1-img {
    width: 13rem;
    height: 16rem;
    /* padding: 0 60px 0 20px; */
    /* display: flex; */
    /* align-items: baseline; */
    /* width: 300px;
    height: 400px;
    margin-bottom: -15rem; */
  }

  .featured-2 {
    background-image: url("../images/home/tablet/image-speaker-zx7.jpg");
  }

  .featured-3-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: 0;
  }
  .featured-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20rem;
    margin: 0;
  }

  .featured-3-img {
    height: 15.5rem;
  }

  .featured-4 {
    font-size: x-large;
    width: 50%;
    height: 13rem;
    margin: 0;
  }

  .featured-4-btn {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .featured-1 {
    display: flex;
    flex-direction: row;
    background-image: url("../images/home/desktop/pattern-circles.svg");

    background-size: 80%;
    background-position: left -35% bottom 100%;
    width: 75%;
    height: 40rem;
  }

  .featured-header-1 {
    text-align: start;
    margin-left: 20px;
  }

  .featured-body {
    text-align: start;
  }
  .featured-1-img {
    display: flex;
    align-items: baseline;
    width: 300px;
    height: 400px;
    margin-bottom: -8px;
  }

  .featured1-imgContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .featured-1-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .featured-btn {
    margin-left: 20px;
  }

  .featured-2 {
    width: 74%;
    background-image: url("../images/home/desktop/image-speaker-zx7.jpg");
  }
  .featured-3-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 75%;
  }

  .featured-4 {
    justify-content: center;
    padding-left: 20px;
    height: 15rem;
  }
}
