.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
  letter-spacing: 1px;
}

.footer-header {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: white;
  flex-direction: column;
  padding-bottom: 30px;
  text-decoration: none;
}

.footer-body {
  text-align: center;
  align-self: center;
  width: 75%;
  color: gray;
  margin-bottom: 30px;
}

.footer-copyright {
  color: gray;
  font-weight: bold;
}

.footer-icons {
  color: white;
}

.footer-icon {
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1020px) {
  .footer-body {
    width: 80%;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
  }

  .footer-header {
    padding-top: 30px;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-link {
    padding: 20px;
  }

  /* .footer-left {
    display: flex;
    justify-content: start;
  }

  .footer-left {
    display: flex;
    justify-content: end;
  } */
}
