.page-modal-open {
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* opacity: 0.8; */
  /* transition: all 200ms; */
  /* width: fit-content; */
}

.total {
  margin-bottom: 30px;
}

.total > span {
  font-weight: bold;
}
.checkout-btn {
  padding: 10px 20px 10px 20px;
  background-color: #d87d4a;
  color: white;
  border: none;
  width: 90%;
  text-decoration: none;
  font-size: medium;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 8px;
  z-index: 1;
  opacity: 0;
  transition: all 200ms;
}

.modalIsOpen {
  display: grid;
  grid-template-columns: 1fr 400px 20px;
  grid-template-rows: 20px 100px 1fr;
  opacity: 1;
  z-index: 1000;
}

.modal-content {
  background: white;
  grid-column: 2;
  grid-row: 2;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
}

.modal-top {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.modal-left {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
}

.modal-img {
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
}

.modal-header {
  font-weight: bold;
  padding-right: 4rem;
}

.remove-btn {
  border: none;
  background-color: white;
  text-decoration: underline;
}

.modal-items {
  display: flex;
  padding-bottom: 10px;
}

.modal-name {
  font-weight: bold;
  font-size: small;
}

.modal-block {
  display: block;
  padding: 0 0px 0 10px;
  font-size: small;
  width: 5rem;
}

.modal-counter {
  padding: 0 10px 0 5px;
}
