.page-modal-open {
  /* background-color: rgba(0, 0, 0, 0.4); */
  opacity: 0.8;
  transition: all 200ms;
}

.total {
  margin-bottom: 30px;
}

.checkout-btn {
  padding: 10px 20px 10px 20px;
  background-color: #d87d4a;
  color: white;
  border: none;
  width: 90%;
  text-decoration: none;
  font-size: medium;
  margin-top: 10px;
}

.modal {
  display: none;
}

.modalIsOpen {
  display: block;
  position: fixed;
  left: 950px;
  width: 15rem;
  background-color: white;
  padding: 20px 0 20px 20px;
  margin: 20px 60px 0 0;
  border-radius: 8px;
}

.modal-top {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.modal-header {
  font-weight: bold;
  padding-right: 4rem;
}

.remove-btn {
  border: none;
  background-color: white;
  text-decoration: underline;
}

.modal-items {
  padding-bottom: 10px;
}
