.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a1a1a;
  color: white;
  /* border-bottom: 0.5px solid gray; */
  font-weight: 700;
  height: 5rem;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.nav-border {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 0.25px;

  /* width: 1280px; */
}

.nav-desktop {
  display: none;
}

.nav2 {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 80%;

  margin: auto;
}

.header {
  padding: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
}

.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1.5rem;
  max-height: 1.5rem;
  filter: invert(100%);
  padding-right: 20px;
}

.cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #1a1a1a;
}

.cart-count {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #d87d4a;
  border-radius: 100%;
  height: 1.25rem;
  width: 1.25rem;
  font-size: 0.65rem;
  top: 16px;
  right: 13px;
}

@media screen and (min-width: 1024px) {
  .nav-border {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #1a1a1a;
    color: white;
    font-size: small;
    font-weight: 600;
    /* border-bottom:  0.5px solid gray; */
  }

  .nav-border {
    display: none;
  }

  .nav2 {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    height: 4rem;
    border-bottom: 0.1px solid gray;
    width: 80%;
    margin-top: 14px;
    /* align-items: flex-start; */
  }

  .header-container {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    /* width: fit-content; */
  }

  .header {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 15px;
  }

  .nav-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 10rem;
  }

  .nav-link {
    padding: 20px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  .nav-link-active {
    color: #d87d4a;
  }

  .cart-icon {
    /* display: flex; */
    justify-content: flex-end;
    max-width: 20px;
    max-height: 20px;
    filter: invert(100%);
    padding: 15px 20px 10px 30px;
  }

  .cart-count {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #d87d4a;
    border-radius: 100%;
    height: 1.25rem;
    width: 1.25rem;
    font-size: 0.65rem;
    left: 20px;
    top: -10px;
  }

  .cart-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    border: none;
    max-width: 20px;
    max-height: 20px;
    top: 15px;
    right: 20px;
    margin-left: 40px;
  }
}
