.summary {
  display: flex;
  flex-direction: column;

  background-color: white;
  border-radius: 8px;
  margin-top: 50px;
  /* top: 10px; */
  width: fit-content;
  height: fit-content;
  padding: 30px 50px 30px 50px;
}

.summary-header {
  padding-bottom: 20px;
}

.summary-bottom {
  padding: 20px 0 20px 0;
}

.summary-costs {
  display: flex;
  padding: 5px 0 5px 0;
}

.summary-items {
  display: flex;
  padding: 10px 0 10px 0;
}

.name-price {
  display: flex;
  flex-direction: column;
}

.price {
  color: rgba(0, 0, 0, 0.5);
}

.summary-quantity {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: medium;
  font-weight: bold;
  color: gray;
}

.orange-btn-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  background-color: #d87d4a;
  color: white;
  border: none;
  width: 100%;
  text-decoration: none;
  font-size: medium;
  margin-top: 10px;
}
